.ck_weixin
{
    float: right;
    position: absolute;
    height: 75px;
    width: 180px;
    right: 30px;
    margin-top: 10px;
}
.ck_wxtxt{
    float: right;
}
.ck_wxicon
{
    background: url("../images/wx_icon.png");
    position: absolute;
    width: 32px;
    height: 33px;
    top: 7px;
    left: 20px;
    z-index: 3;

}
.ck_nac_box
{
    float: right;
}
.ck_nav .ck_nac_box a
{
    float: left;
    display: block;
    height: 75px;
    line-height: 75px;
    width: 60px;
    padding: 0 0 0 20px;
    margin-right: 38px;
    font-size: 14px;
    background: url("../images/navBtn_icon.png") 0 center no-repeat;
    color: #fff;
}
.ck_lun
{
    padding-top: 30px;
    float: left;
}
.ck_lun p{
    color: #ffffff;
}
.ck_icons #ck_logo
{
    background: url("../images/72.png") no-repeat;
    display: block;
    position: absolute;
    left: -85px;
    top: 25px;
    width: 72px;
    height: 72px;
}
.ck_nav
{
    position: relative;
    height: 80px;
    background: url("../images/nav_line_a78e09f.png") left bottom no-repeat;
    margin-left: 120px;
    padding-right: 220px;
}
.ck_superbigpage {
    width:100%;
    min-width: 1620px;
    max-width: 1920px;
    height: 2300px;
}

.game {
    height: 55px;
    background-color: #fbfbfb;
    border-bottom: 1px solid #6c6c6c;
}

.nav {
    height: 80px;
    background: rgba(0, 0, 0, .2);
}

.swiper-silde_1 {
    width: 100%;
    height: 1000px;
    background: url("../images/hero_bg1.jpg") no-repeat center;
}

/*
logo w250 h127
logo-hot w443 h263
downarrow w89 h59
nav_2 w169 h41
hover w269 h130
nav_1 w216 h90
nav_4 w162 h41
nav_3 w166 h41
非hover一律169*41
*/
.ck_l_logo {
    width: 483px;
}

.ck_l_logo a {
    display: block;
    padding-top: 70px;
    text-indent: -9999px;
    position: absolute;
    width: 250px;
    height: 127px;
    margin-left: 120px;
    background: url("../images/logo.png") no-repeat center;
}

.ck_logo {
    width: 483px;
    float: left;
}

.ck_watcheve {
    /*logo-hot w443 h263*/
    width: 443px;
    height: 263px;
    position: absolute;
    top: 220px;
    left: 20px;
    background: url("../images/logo_hot.png") no-repeat center;
}

.ck_logo p {
    position: absolute;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    left: 60px;
    top: 500px;
}

.ck_outsiders {
    position: absolute;
    right: -218px;
    top: 225px;
    height: 436px;
    width: 220px;
    /*background-color: #fff;*/
}

.cur{
    display: block;
}

.ck_downarrow {
    animation: fd 1.8s infinite;
    position: absolute;
    left: 555px;
    margin-left: 44px;
    height: 59px;
    width: 89px;
    cursor: pointer;
    top: 750px;
    background: url("../images/down_1ad7423.png") no-repeat center;
}
@keyframes fd {
    0% {
        transform: translate(0,0);
        opacity: 1;
    }
    60% {
        transform: translate(0,25px);
        opacity: 0;
    }
    70%
    {
        transform: translate(0,0);
        opacity: 0;
    }
    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}
.ck_outsiders li {
    float: left;
    margin-top: 50px;
    margin-left: 40px;
    display: block;
    height: 41px;
    width: 169px;
}
.ck_k1
{
    background: url("../images/nav_1_hover.png");
    left: -30px;
    top: -23px;
    width: 216px;
    height: 90px;
    display: none;
    animation: flipInY linear .8s;
}
.ck_k2
{
    background: url("../images/nav_2_hover.png");
    left: -73px;
    top: -28px;
    width: 270px;
    height: 130px;
    display: none;
    animation: flipInY linear .8s;
}
.ck_k3
 {
     background: url("../images/nav_3_hover.png");
     left: -30px;
     top: -23px;
     width: 245px;
     height: 90px;
     display: none;
     animation: flipInY linear .8s;
 }
.ck_k4
{
    background: url("../images/nav_4_hover.png");
    left: -30px;
    top: -23px;
    width: 216px;
    height: 90px;
    display: none;
    animation: flipInY linear .8s;
}
.ck_outsiders .ck_r3
{
    width: 169px;
    height: 41px;
    float: left;
    margin-top: 68px;
    margin-left: 26px;
    animation: flipInY linear .8s;
}
.ck_outsiders .ck_r2
{
    width: 169px;
    height: 41px;
    float: left;
    margin-top: 68px;
    margin-left: 32px;
    animation: flipInY linear .8s;
}
.ck_outsiders .ck_r4
{
    width: 169px;
    height: 41px;
    float: left;
    margin-top: 68px;
    margin-left: 0px;
    animation: flipInY linear .8s;
}
.ck_outsiders .ck_r1
{
    width: 169px;
    height: 41px;
    float: left;
    margin-top: 43px;
    margin-left: 20px;
    animation: flipInY linear .8s;
}
.ck_outsiders span{

}
.ck_btn_r
{
    float: right;
}
/*<!-- 右边类轮播图-->*/
.toplunning
{
    width: 400%;
    height: 70%;
    position: absolute;
}
.ck_pics
{
    width: 850px;
    height: 850px;
    float: left;
}
.cur
{
    opacity: 1;
    /*animation: ck_time 2s infinite;*/
}
@keyframes ck_time
{
    from {
        opacity: 0;}
    to {
        opacity: 1;}
}
.ck_pics_Run
{
    position: absolute;
    margin-top: 50px;
    left: 450px;
    width: 850px;
    height: 850px;
    overflow: hidden;
}
/*
第二模块
*/
.swiper-silde_2
{
    width: 100%;
    height: 800px;
    background: url("../images/bg_2.jpg") no-repeat center;
    position: relative;
}
.conBtn
{
    width: 30px;
    position: fixed;
    right: 0;
    opacity: 0;
    z-index: 10;
    /*display: none;*/

}
.ck_btn
{
    position: relative;
    display: block;
    width: 139px;
    height: 48px;
    line-height: 48px;
    text-indent: 48px;
    color: #fff;
    display: block;
    padding-top: 6px;
    background: url("../images/swiperBtn.png") no-repeat center;
    /*background-image: url();*/
}
.btn1
{
    margin-bottom: 40px;
}
/*btn部分*/
.swiper-silde_2 h3
{
    width: 903px;
    height: 121px;
    margin: 0 auto;
    text-indent: -2000px;
    background: url("../images/title_2.png") no-repeat center
}
/*
第三模块
*/
.swiper-silde_3 h3
{
    width: 903px;
    height: 121px;
    margin: 0 auto;
    text-indent: -2000px;
    background: url("../images/title_3.png") no-repeat center
}
.swiper-silde_3
{
    width: 100%;
    height: 1000px;
    background: url("../images/bg_3.jpg") no-repeat center;
}

/*transform: scale(6,6) translate3d(0,-50%,0);*/
/*
width: 249px;
height: 253px;
float: left;
cursor: pointer;
position: absolute;
z-index: 2;
background: url(https://mwsj.res.netease.com/pc/zt/20170113153016/img/fx_fa02bf3.png) 0 0 no-repeat;
transform: rotate(45deg);
opacity: 0;
overflow: hidden;*/
.ck_check
{
    padding-top: 300px;
}
.ck_container
{
    width: 360px;
    height: 360px;
    float: left;
    position: relative;
    overflow: hidden;
    left: 50%;
    margin-left: -130px;
    /*transform: rotate(45deg);*/
    background: url("../images/fx_.png") 0 0 no-repeat;
}
.ck_container img
{
    overflow: hidden;
    width: 224px;
    height: 226px;
    transition: all .8s linear;
}
.swiper-silde_3
{
}
/*写小方格*/

.ck_imgs
{
    margin: 13px 12px;
    width: 224px;
    height: 226px;
    position: absolute;
    /*transform: rotate(-45deg);*/
    /*background: url("../images/fx_.png") no-repeat center;*/
}
.ck_imgs h4
{
    color: #ffffff;
    font-size: 22px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}
.ck_play
{
    cursor: pointer;
    position: absolute;
    width: 105px;
    height: 105px;
    top: 67px;
    left: 67px;
    background: url("../images/play_.png") no-repeat center;
}
/*
第四模块
*/
.swiper-silde_4
{
    height: 1000px;
}
.swiper-silde_4 h3
{
    width: 903px;
    height: 121px;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left:-410px;
    text-indent: -2000px;
    z-index: 3;
    background: url("../images/title_4.png") no-repeat center
}
.swiper-silde_4 embed{
     min-width: 1620px;
     max-width: 1920px;
     height: 1000px;
     position: absolute;
     z-index: 2;
 }
/*底部模块*/
.swiper-silde_5
{
    position: relative;
    top: -100px;
    height: 1030px;
}
.swiper-silde_5 embed{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 41px;
}
.swiper-silde_5 h3
{
    width: 903px;
    height: 121px;
    position: absolute;
    left: 50%;
    top: 152px;
    margin-left:-410px;
    text-indent: -2000px;
    background: url("../images/title_5.png") no-repeat center;
}
.swiper-silde_5 .ck_down
{
    display: none;
}
.font
{
    position: absolute;
    left: -15px;
    top: -15px;
    animation: flipInY .4s;
}
/*herobg左右摇晃的关键帧*/
@keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,90deg);
        -webkit-transition-timing-function: ease-in;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-20deg);
        -webkit-transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,10deg);
        opacity: 100;
        filter: alpha(opacity=10000);
        opacity: 1;
        filter: alpha(opacity=100);
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
    }
}
/*让英雄可以跳出来的关键帧*/
@keyframes bounceIn
{
    0%, 20%, 40%, 60%, 80%, 100% {
-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
}
0% {
opacity: 0;
-webkit-transform: scale3d(0,0,0);
}
40% {
opacity: 1;
-webkit-transform: scale3d(1.1,1.1,1.1);
}
70% {
-webkit-transform: scale3d(0.9,.9,.9);
}
100% {
opacity: 1;
-webkit-transform: scale3d(1,1,1);
}
}
.person2
{
    position: absolute;
    left: -120px;
    top: -82px;
    z-index: 4;
    animation: bounceIn  .4s;
}
.person4
{
    position: absolute;
    left: -135px;
    top: 4px;
    z-index: 4;
    animation: bounceIn  .4s;
}
.person3
{
    position: absolute;
    left: -77px;
    top: 40px;
    z-index: 4;
    animation: bounceIn  .4s;
}
.person1
{
    position: absolute;
    left: -68px;
    top: -32px;
    z-index: 4;
    animation: bounceIn  .4s ;
}
.person0
{
    position: absolute;
    left: -135px;
    top: -99px;
    z-index: 4;
    animation: bounceIn  .4s;
}
.swiper-silde_5 .bck
{
    display: block;
}
.swiper-silde_5 .w
{
    width: 1225px;
}
.swiper-silde_5 li
{
    float: left;
}
.ck_ul_hero
{
    padding-top: 360px;
}
.ck_jump
{
    position: absolute;
}

.ck_mask
{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    /*background-image: url();*/
}

.close{
    width: 63px;
    height: 68px;
    top: 0;
    left: 926px;
    background-image: url("../images/close_.png");
}
.prev{
    width: 67px;
    height: 67px;
    top: 50%;
    margin-top: -34px;
    left: -100px;
    background-image: url("../images/pop_prve.png") ;
}
.next{
    width: 67px;
    height: 67px;
    top: 50%;
    margin-top: -34px;
    left: 926px;
    background-image: url("../images/pop_next.png");
}
#ck_ul
{
    width: 800%;
    position: relative;
}
.ck_herobox
{
    width: 890px;
    height: 492px;
    overflow: hidden;
}
#ck_ul li{
    float: left;
}
.ck_heromask
{
    left: 50%;
    margin-left: -445px;
    top: 20%;
}


